<div class="app-form">
  <form>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="number" class="form-control" id="age" aria-describedby="age">
    </div>
    <div class="mb-3">
      <label for="wins" class="form-label">Wins</label>
      <input type="number" class="form-control" id="wins" aria-describedby="wins">
    </div>
    <div class="mb-3">
      <label for="losses" class="form-label">Losses</label>
      <input type="number" class="form-control" id="losses" aria-describedby="losses">
    </div>
    <div class="mb-3">
      <label for="draws" class="form-label">Draws</label>
      <input type="number" class="form-control" id="draws" aria-describedby="draws">
    </div>
    <div class="mb-3">
      <label for="rounds" class="form-label">Rounds</label>
      <input type="number" class="form-control" id="rounds" aria-describedby="rounds">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>



