<div class="app-form">
  <form 
    #registerForm="ngForm"
    (ngSubmit)="onSubmit(registerForm)"
  >
    <div class="mb-3">
      <label 
        for="username" 
        class="form-label"
      >
        Username
      </label>
      <input 
        type="text" 
        id="username" 
        name="username"
        ngModel
        class="form-control" 
        aria-describedby="username"
        required
        minlength="3"
      >
    </div>
    <div class="mb-3">
      <label 
        for="email" 
        class="form-label"
      >
        Email address
      </label>
      <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email"
        ngModel
        email
        required
        aria-describedby="emailHelp"
      >
    </div>
    <div class="mb-3">
      <label 
        for="password" 
        class="form-label"
      >
        Password
      </label>
      <input 
        type="password" 
        name="password"
        ngModel
        class="form-control"
        id="password"
        required
      >
    </div>
    <button 
      type="submit" 
      class="btn btn-success"
      [disabled]="!registerForm.valid"
    >
      Submit
    </button>
  </form>
</div>

